.page-header{
	background-color: #800000;
	margin: 0px;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active, .page-header h1 a:hover{
    color: #ffffff;
    font-size: 50pt;
    text-decoration: none;
}

.reg{
	float: right;
	color: #ffffff;
	text-decoration: none;
	display: block;
}

.page-header h3{
	font-size: 30pt;
	color: #ffd9b3;	
}

.main-content{
	width: 80%;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3, h4{
    font-family: 'Pacifico';
}

#navigation{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;

}
.nav-buttons{
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 150px;
	padding: 5px;
	background-color: #ffd9b3;
	border: 2px solid #339933;
	border-radius: 10px;
}


#navigation a:link, #navigation a:visited, #navigation a:hover{
	text-decoration: none;
	color: black;
}

.exercise-title{
	text-decoration: none;
	color: black;
	font-size: 25pt;
}
.exercise-descript{
	font-size: 15pt;
}

#ex-content{
	width: 900px;
	height: 520px;
	background-color: #f2f2f2;
	margin-right: auto;
	margin-left: auto;
}

.gui-buttons{
	display: block;
	margin-bottom: 4px;
	background-color: gray;
	color: white;
	font-weight: 600;
}

.gui-buttons:hover{
	background-color: black;
	cursor: pointer;
}

#buttonDiv{
	position: absolute;
	margin: 80px 10px 20px 30px;
}

h2#headerTitle{
	position: absolute;
	margin-top: 30px;
	margin-left: 330px;
	font-family: sans-serif;
	text-align: center;
	text-decoration: underline;
	color: black;
	font-size: 30pt;
}

.textPresentation{
	position: absolute;
	width: 600px;
	font-size: 20pt;
	margin: 300px 50px 50px 160px;
	text-align: center;
}

#directionButtons{
	position: absolute;
	margin: 450px 50px 50px 310px;
}

button{
	margin-right: 200px;
}

a:link, a:hover, a:active {
	text-decoration: none;
}

table {
	position: absolute;
	margin-top: 130px;
	margin-left: 190px;
	border-collapse: separate;
	width: 40%
}

table, th, td {
	text-align: center;
	height: 50px;
	border: 1px solid black;
}